{% extends 'template.html' %}

{% block content %}
<div class="text-center mb-4">
    <h1 class="h3 text-primary">Adyacencias Aleatorias</h1>
    <button id="nuevaAdyacencia" class="btn btn-primary mt-3">
        Nueva Adyacencia
    </button>
</div>

<div class="pb-4 container">
    <table id="tabla" class="table table-bordered table-dark w-75 mx-auto">
        <thead class="thead-primary">
            <tr>
                <th class="text-center">-----</th>
                {% for item in lista %}
                    <th class="text-center">{{ item.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
                <tr>
                    <td class="font-weight-bold text-center">{{ item.name }}</td>
                    {% for otro_item in lista %}
                        <td class="text-center">
                            {% set found = false %}
                            {% for destino in item.destinations %}
                                {% if destino.to == otro_item.labelId %}
                                    <span class="text-primary">{{ destino.weight }}</span>
                                    {% set found = true %}
                                {% endif %}
                            {% endfor %}
                            {% if not found %}
                                <span class="text-muted">---</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.getElementById("nuevaAdyacencia").addEventListener("click", function() {
        fetch('/nuevaadyacencia', {
            method: 'GET'
        })
        .then(response => response.json())
        .then(data => {
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

{% endblock %}
